

.navbar {
 background-color: #07393C;
}
.all-nav-links {
 color: #904E55;
 
}
.nav-links {
  position: relative;
  margin-right: 250px;
  color: #CBA135;
}
.nav-links:visited {
  color: #CBA135;
}
.logout-button {
  background-color: #F0EDEE;
}
.login-form {
  width: 300px;
  border: 15px solid #07393C;
  padding: 50px;
  margin: 20px;
}